global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket {{ haproxy_socket }} level admin
  chroot {{ haproxy_chroot }}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon

defaults
  log   global
  mode  http
  option    httplog
  option    dontlognull
  timeout   connect 5000
  timeout   client  50000
  timeout   server  50000

errorfile 400 /etc/haproxy/errors/400.http
errorfile 403 /etc/haproxy/errors/403.http
errorfile 408 /etc/haproxy/errors/408.http
errorfile 500 /etc/haproxy/errors/500.http
errorfile 502 /etc/haproxy/errors/502.http
errorfile 503 /etc/haproxy/errors/503.http
errorfile 504 /etc/haproxy/errors/504.http

frontend {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    mode {{ haproxy_frontend_mode }}
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    mode {{ haproxy_backend_mode }}
    stats enable
    stats uri {{ haproxy_stats_uri }}
    stats realm Strictly\ Private
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
    balance {{ haproxy_backend_balance_method }}
    option httpclose
    option forwardfor
    {% for backend in haproxy_backend_servers %}
        server {{ backend.name }} {{ backend.address }} check port 80
    {% endfor %}