# The MySQL DB Server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.

[mysqld_safe]
socket          =   /var/run/mysqld/mysqld.sock
nice            =   0
[musqld]
user            =   mysql
pid-file        =   /var/run/mysqld/mysqld.pid
socket          =   /var/run/mysqld/mysqld.sock
port            =   {{ mysql_port }}
basedir         =   /usr
datadir         =   /var/lib/mysql
tmpdir          =   /tmp
lc-messages-dir =   /usr/share/mysql
skip-external-locking
bind-address    =   {{ mysql_bind_address }}
#
# * Fine Tunning
#
key_buffer_size         =   16M
max_allowed_packet      =   16M
thread_stack            =   192K
thead_cache_size        =   8
myisam-recover-options  =   BACKUP
query_cache_limit       =   1M
query_cache_size        =   16M
#
# Error Log - shold be very few entries.
#
log_error       =   /var/log/mysql/error.log
max_binlog_size =   100M